services:
  anti-spoof-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: anti-spoof-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    gpus: all
    restart: unless-stopped
